nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.container{
    border: 5px solid #ffcc5c;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    

}
.container .change{
    display: flex;
}

.container .change div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 14sp;
    color: #fff;
    border: 2px solid;
    background-color: #111;
    border-radius: 5px;
    height: 20px;
    width: 50px;
}

.container .change .bar-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 20px;
    width: 20px;
    display: none;
}

.container .change div:hover{
    background-color: greenyellow;
    color: #111;
}

.container img{
    display: flex;
    
    height: 40px;
    width: 40px;
    
    
    
}






@media only screen and (max-width:600px ) {
    .container{
        display: flex;
        justify-content: space-between;
        
        border: none;
    }

    .container .change{
        display: flex;
        justify-content: center;
        
        width: 100%;
    }
    .container .change div{
        display: none;
    }

    .container .img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .change .bar-btn{
        display: initial;
        justify-content: ce;
        margin-left: 290px;
        text-align: center;
    }
    

}














header{
    text-align: center;
    padding-left: 50px;
    
    padding-top: 10px;
      

}

main{
    padding-left: 3rem ;
    padding-right: 3rem;
  
}

main .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  
    align-items: center;

    
   

}
main .row .photo{
    flex: 1 1 60rem;
    border: 5px solid #ffcc5c;
    border-radius: 10px;
    
    

}
main .row .photo img{
    
    width: 100%;
    
    
    border-radius: 10px;
    height: 70vh;
    

}

main .row form{
    flex: 1 1 20rem;
    padding: 2rem;
    background-color: hwb(0 75% 24%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    padding: 20px;
    height: 70vh;
} 

main .row form .box{
    margin: 10px;
}

main .row form h2{
    text-align: center;
}

main .row .box .input-box{
    display: block;
    padding-top: 0px;
}
main .row .box .input-box input{
    width: 100%;
    height: 40px;
    border: .1rem solid #000000b3;
    
    color: black ;
    text-decoration: none;
    text-transform: none;
    border-radius: 4px;
}
main .row .box .input-box .id{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
main .row .box .input-box .id option{
    font-size: 20px;
}

main .row .box .input-box .btn{
    display: flex;
    width: 50%;
    padding-left:25% ;

}
main .row .box .input-box .btn input{

    display: flex;
    background-color: #111;
    color: #fff;
    text-align: center;
    justify-content: center;
    
}

main .row .box .input-box .btn input:hover{
    background-color: greenyellow;
    color: #111;
}
main .features p{
    font-size: 20px;
    max-width:70%;
    padding-left: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}
main .features .btn-feature{
    display: block;
    flex-wrap:nowrap;
    gap: 1.5rem;
  
    align-items: center;

}
main .features .btn-feature .abc{
    display: flex;
    align-items: center;
    
    

}
main .features .btn-feature  .abc span{
    display: flex;
    height: 50px;
    width: 50px;
    color: #111;
    background-color: gray;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
main .features .btn-feature .abc p{
    color:#111;
    font-family: none;
    
}

.package{
    padding-left: 3rem ;
    padding-right: 3rem;
}

.package .container1 .box h3{
    display: flex;
    height: 30px;
    width: 30px;
    background-color: black;
}
.package .container1{
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;

    max-width: 1440px;
    margin-top: 80px;

}
.package .container1 .box{
    flex: 1 1 20rem;
    border-radius: .5rem;
    padding: 1rem;
    
    text-transform: none;
}
.package .container1 .box .boxs h1{
    padding-left: 40px;
    

}
.package .container1 .box a{
    display: flex;
    justify-content: center;
}

.package .container1 .box  button{
    color: #fff;
    background-color: #111;
    padding: 15px;
    border-radius: 5px;
    
}
.package .container1 .box  button:hover{
    background-color: greenyellow;
    color: #111;
}





.package .container1 .box .boxs i{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    
    
    
    background-color: grey;
    position:absolute
}
.package .container1 .box .boxs h1{
    display: flex;
    padding-left: 65px;
    padding-top: 10px;
    

}

.package .container1 .box p{
    padding-left: 65px;
}




.call .box{
    
    justify-content: center;
    
    padding:40px 40px 40px 40px;


}
.call .box h1{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.call{
    display: block;
    padding-top: 70px;
}

.call .box p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
.call .box .btn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
    
}
.call .box .btn input{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #111;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    
}
.call .box .btn input:hover{
    background-color: greenyellow;
    color: #111;
}


.footer h3{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.footer p{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}